body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
  }
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
h1 {
    margin: 0;
  }
  
main {
    padding: 20px;
  }
  
.card {
  border: 3px solid #5a5a5a;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #000000;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  display: grid;
  grid-template-columns: 150px 200px 450px 150px 150px;
  grid-template-rows: 100%;
  gap: 10px;
  grid-template-areas: "image header info recovery statistics";
}
  
.card img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  grid-area: image;
}
  

.card .header {
  margin-top: 5px;
  margin-bottom: 5px;
  grid-area: header;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card .header h2 {
  margin: 0;
}
  
.card .header h3 {
  margin: 0;
  font-size: 1em;
}

.card .info {
  grid-area: info;
  display: grid;
  grid-template-columns: 225px 225px;
  grid-template-rows: 60px 60px 20px;
  margin-top: 5px;
  gap: 2px;
}

.card .recovery {
  grid-area: recovery;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 21px 21px 22px;
  margin-top: 5px;
  gap: 20px;
}

.card .recovery a {
  color: #fff;
  text-decoration: none;
}

.card .info p,
.card .recovery a,
.card .statistics p{
  margin: 0;
  padding: 0;
  display: block; 
}

.card .recovery a:hover {
  text-decoration: underline;
}

.card .recovery h2 {
  margin: 0;
}

.card .recovery p {
  margin: 0;
  padding: 0;
}

.card .statistics {
  grid-area: statistics;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 60px 60px 20px;
  margin-top: 5px;
  gap: 2px;
}

  